<footer class="footer">
  <div class="container">
    <div class="footer-content d-flex flex-wrap justify-content-between">
      <!-- About Section -->
      <div class="footer-section">
        <h3>About StudyHub</h3>
        <p class="about-text">A platform dedicated to university students for sharing study resources and collaboration.</p>
      </div>

      <!-- Resources -->
      <div class="footer-section col-6 col-md-3 {% if not current_user.is_authenticated %} ms-md-auto {% endif %}">
        <h6 class="fw-semibold">Resources</h6>
        <ul class="list-unstyled small">         <li><a href="{{ url_for('main.error') }}" class="text-light text-decoration-none">Help Center</a></li>
         <li><a href="{{ url_for('main.error') }}" class="text-light text-decoration-none">Guidelines</a></li>
         <li><a href="{{ url_for('main.error') }}" class="text-light text-decoration-none">Terms of Service</a></li>
         <li><a href="{{ url_for('main.error') }}" class="text-light text-decoration-none">Privacy Policy</a></li>
         <li><a href="{{ url_for('main.error') }}" class="text-light text-decoration-none">FAQ</a></li>
        </ul>
      </div>

      <!-- Contact Us -->
      <div class="footer-section col-12 col-md-3 {% if not current_user.is_authenticated %} me-md-auto {% endif %}">
        <h6 class="fw-semibold">Contact Us</h6>
        <ul class="list-unstyled small">
          <li class="d-flex align-items-center mb-2">
            <i class="bi bi-envelope-fill text-warning me-2"></i>
            <span>contact@studyhub.com</span>
          </li>
          <li class="d-flex align-items-center mb-2">
            <i class="bi bi-telephone-fill text-warning me-2"></i>
            <span>H-Farm</span>
          </li>
          <li class="d-flex align-items-start">
            <i class="bi bi-geo-alt-fill text-warning me-2 mt-1"></i>
            <span>Via Adriano Olivetti, 1, 31056 Roncade TV</span>
          </li>
        </ul>
      </div>
    </div>

    <!-- Bottom copyright -->
    <div class="text-center small border-top border-secondary pt-4 mt-4 footer-copyright">
      &copy; {{ current_year }} StudyHub. All rights reserved.
    </div>
  </div>
</footer>